!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script
        $(function() {
          console.log('ready!');
          $('div#main').html('Document Ready');
        });
  body!= body
